<!DOCTYPE html>

<html>

<head>
    <title> AppProcess </title>
</head>

<body>
    <h2> App Process Menu </h2>
    <br><br>
    <ol>
        <li> <a href="/mentors">Mentors and school
            </a>
        </li>
        <li> <a href="/all-school">All school page
            </a>
        </li>
        <li><a href="/mentors-by-country">Mentors by country page
        </a>
        </li>
        <li><a href="/contacts">Contacts page</a></li>
        <li><a href="/applicants">Applicants page</a></li>
        <li>Applicats and mentor page</li>
    </ol>
</body>

</html>